@font-face {
  font-family: 'iconfont';  /* project id 704190 */
  src: url('//at.alicdn.com/t/font_704190_6yal4sq7fea.eot');
  src: url('//at.alicdn.com/t/font_704190_6yal4sq7fea.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_704190_6yal4sq7fea.woff') format('woff'),
  url('//at.alicdn.com/t/font_704190_6yal4sq7fea.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_704190_6yal4sq7fea.svg#iconfont') format('svg');
}
.App {
  color: #333;
  border-radius: 15px;
  background: white;
  margin: 2em;
  min-height: 20em;
  min-width: 26em;
  box-shadow: 0 0 1em hsla(0,0%,0%,0.15);
}
.contentWrapper {
  padding: 2em;
}
.line{
  border-radius: 15px 10px 0 0;
  color:#fff;
  height:180px;
  font-size: 2em;
  padding:2em 1.2em 0em 0.5em;
  background-image: url(https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1528751370399&di=a6063fd6b85cf68997649ca8a04d0b1b&imgtype=0&src=http%3A%2F%2Fimg06.tooopen.com%2Fimages%2F20161214%2Ftooopen_sy_190517624551.jpg);
}
.line h3{
  margin-top: 40px;
  font-size: 0.5em;
}
.App > .todoList> li:nth-child(odd){
  background: #eee;
}
.App > .todoList> li:nth-child(even){
  background: transparent;
}

.SignOut-button{
  width: 20%;
  height: 2rem;
  font-size: 1rem;
  float: right;
}